<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{{ 'theme.css' | asset_url | stylesheet_tag }}

		<script src="{{ 'header.js' | asset_url }}" defer></script>

		{{ content_for_header }}
	</head>
	<body>
		{{ content_for_layout }}
	</body>
</html>